@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --headerColor: #2B4141;
  --fontColor: #f4f4f4;
  --color: #0EB1D2;
  --color2: #34E4EA;
  --bcColor: #8AB9B5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Baskerville';
}
.page-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--bcColor);
  }
}

.link {
  color: inherit;
  text-decoration: none;
}
.icon{
  pointer-events: none;
}
.unactive{
  display: none !important;
}